[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "usmap"]
	path = usmap
	url = https://github.com/pdil/usmap
[submodule "usmapdata"]
	path = usmapdata
	url = https://github.com/pdil/usmapdata
